<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta http-equiv="Content-Type"
    content="text/html; charset=UTF-8" />

  <title>ラッキー・ジョブへようこそ！</title>

  <style type="text/css">
    .ReadMsgBody {
      width: 100%;
      background-color: #ffffff;
    }
    
    .ExternalClass {
      width: 100%;
      background-color: #ffffff;
    }
    
    body {
      width: 100%;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;
      font-family: STXihei, Arial, Helvetica, sans-serif
    }
    
    table {
      border-collapse: collapse;
    }
    
    @media only screen and (max-width: 640px) {
      body[yahoo] .deviceWidth {
        width: 440px!important;
        padding: 0;
      }
      body[yahoo] .center {
        text-align: center!important;
      }
    }
    
    @media only screen and (max-width: 479px) {
      body[yahoo] .deviceWidth {
        width: 280px!important;
        padding: 0;
      }
      body[yahoo] .center {
        text-align: center!important;
      }
    }
  </style>
</head>

<body leftmargin="0"
  topmargin="0"
  marginwidth="0"
  marginheight="0"
  yahoo="fix"
  style="font-family: STXihei, Arial, Helvetica, sans-serif">

  <h1>ようこそ！</h1>

  <p>LuckyJobをご利用いただき、誠にありがとうございます。お客様のアカウントを開設しました。アカウント申請する際にご記入していただいたメールアドレスは、お客様本人のメールアドレスであることを確認するため、ご専用の認証リンクを用意いたしました。下記リンクをクリックしたら、お客様のアカウントをアクティブ化して、LuckyJobへログインできるようにします。
  </p>

  <a href="http://user.luckyjob.jp/activate/<%= id %>">ここをクリックして、LuckyJobのご利用を開始します。 </a>

  <p>
    <small>※上記リンクは、お客様LuckyJobでアカウント申請する度に発行されます。発行から１時間以内有効となります。１時間以上アカウントをアクティブ化しなかった場合は、お手数ですが、再度LuckyJobのホームページでアカウントを申請してください。</small>
  </p>

</body>

</html>