<md-toolbar class="md-tall" layout="row" style="background-image:url({{ctrl.group.cover ? ctrl.group.cover_ref : 'admin/asset/images/group_cover_default@3x.png'}}); background-size: cover;">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="gctrl.navigateTo('/groups')">
      <md-icon md-svg-icon="navigation:ic_arrow_back_24px">
      </md-icon>
    </md-button>
    <h2 flex>
      <span>{{ctrl.group.name}}</span>
    </h2>
    <md-button class="md-icon-button" ng-click="ctrl.triggerFileSelection()">
      <md-tooltip>更换群组封面</md-tooltip>
      <md-icon md-svg-icon="action:ic_perm_media_24px"></md-icon>
    </md-button>
    <input id="fileInput" type="file" nv-file-select uploader="ctrl.uploader" style="opacity: 0; position: absolute; left: -500px;" />
  </div>
</md-toolbar>

<md-tabs class="md-accent" md-stretch-tabs="auto" md-center-tabs="true" md-dynamic-height="true">
  <md-tab label="帖子（{{ctrl.group.posts.length}}）" md-on-select="ctrl.showPosts()"></md-tab>
  <md-tab label="成员（{{ctrl.group.members.length}}）" md-on-select="ctrl.showMembers()"></md-tab>
  <md-tab label="状态"></md-tab>
</md-tabs>

<md-content flex layout="column">
  <div ui-view flex layout="column"></div>
</md-content>
