<md-toolbar class="md-tall" layout="row" style="background-image:url({{ctrl.user.cover ? ctrl.user.cover_ref : 'admin/asset/images/user_cover_default@3x.png'}}); background-size: cover;">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="gctrl.navigateTo('/users')">
      <md-icon md-svg-icon="navigation:ic_arrow_back_24px">
      </md-icon>
    </md-button>
    <h2 flex>
      <span>{{ctrl.user.nickName}}</span>
    </h2>
  </div>
</md-toolbar>

<md-tabs class="md-accent" md-stretch-tabs="auto" md-center-tabs="true" md-dynamic-height="true">
  <md-tab label="账号信息" md-on-select="ctrl.showProfile()"></md-tab>
  <md-tab label="帖子（{{ctrl.user.posts.length}}）" md-on-select="ctrl.showPosts()"></md-tab>
  <md-tab label="统计信息" md-on-select="ctrl.showStatistics()"></md-tab>
</md-tabs>

<md-content flex layout="column">
  <div ui-view flex layout="column"></div>
</md-content>
