<md-dialog flex="33" flex-sm="66">

  <form id="loginForm" name="loginForm" novalidate>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>用户登录</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <div class="md-dialog-content">

        <md-input-container>
          <label>邮件地址</label>
          <input type="email" name="email" ng-model="ctrl.user.email" required>
          <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$dirty">
            <div ng-message="required">邮件地址必须填写</div>
            <div ng-message="email">请输入有效的邮件地址</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>密码</label>
          <input type="password" name="password" minlength="8" ng-model="ctrl.user.password" required>
          <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty">
            <div ng-message="required">密码必须填写</div>
            <div ng-message="minlength">密码最少8位</div>
          </div>
        </md-input-container>

      </div>

      <div class="md-actions" layout="row">
        <md-button class="md-primary" type="submit" form="loginForm" ng-click="ctrl.signin()" ng-disabled="loginForm.$invalid || loginForm.$pending">登录</md-button>
      </div>

    </md-dialog-content>

  </form>

</md-dialog>
