doctype html
html(lang='zh')
  head

    title 现场TOMO管理平台

    // Meta 
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='JoeHetfield')
    base(href="/")

    // Favicon 
    link(rel='shortcut icon', href='/favicon.ico')

    // CSS
    link(rel="stylesheet", href="/admin/css/main.css")

  body(layout="row")

    md-sidenav.md-whiteframe-z2(md-component-id="left")
    
      md-toolbar.md-whiteframe-z2
        .md-toolbar-tools
          h3 现场TOMO管理平台
          
      md-list
        md-list-item
          md-icon(md-svg-icon="action:ic_home_24px")
          p ホーム

        md-list-item
          md-icon(md-svg-icon="social:ic_person_24px")
          p ログイン

        md-list-item
          md-icon(md-svg-icon="action:ic_account_circle_24px")
          p プロフィール

        md-list-item
          md-icon(md-svg-icon="social:ic_people_24px")
          p ユーザ管理

        md-list-item
          md-icon(md-svg-icon="action:ic_store_24px")
          p 企業ユーザ管理

        md-list-item
          md-icon(md-svg-icon="action:ic_assignment_24px")
          p 仕事情報管理
          
        md-list-item
          md-icon(md-svg-icon="social:ic_notifications_24px")
          p システム通知

        md-list-item
          md-icon(md-svg-icon="action:ic_exit_to_app_24px")
          p ログアウト
            
    ng-view(ng-cloak, layout="column", flex)
      
    // JS main library
    //- script(src='//maps.googleapis.com/maps/api/js?sensor=false')
    //- script(src='bower_components/lodash/lodash.min.js')
    //- script(src='bower_components/moment/min/moment-with-locales.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/angular-route/angular-route.min.js')
    script(src='bower_components/angular-aria/angular-aria.min.js')
    script(src='bower_components/angular-animate/angular-animate.min.js')
    script(src='bower_components/angular-material/angular-material.js')
    script(src='bower_components/angular-resource/angular-resource.min.js')
    script(src='bower_components/angular-messages/angular-messages.min.js')
    script(src='bower_components/angular-http-auth/src/http-auth-interceptor.js')
    //- script(src='bower_components/ngImgCrop/compile/minified/ng-img-crop.js')
    script(src='bower_components/angular-file-upload/dist/angular-file-upload.min.js')
    //- script(src='bower_components/angular-moment/angular-moment.min.js')
    //- script(src='bower_components/angular-google-maps/dist/angular-google-maps.min.js')

    //- script(src='js/admin/template.js')
    script(src='admin/js/main.js')
